@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.scss";
@import "bulma";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');
// font-family: 'IBM Plex Sans Thai Looped', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
// font-family: 'Modak', cursive;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
// font-family: 'Righteous', cursive;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500&display=swap');
// font-family: 'JetBrains Mono', monospace;



// .link-text{
//     color: rgb(228, 228, 228);
// }

// .link-hover:hover{
//     color: lightgrey !important;
// }

.link-hover:hover{
    color: lightgrey !important;
}

html 
{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;

}

body{
    margin-left: auto;
    margin-right: auto;
    // width: 100vh;
}

// menu colors
// TODO: make this tailwinds
.text-cyan-600{
    color: #0891B2;
}
.text-emerald-600{
    color: #047857
}
.text-pink-600{
    color: #DB2777;
}
.text-rose-700{
    color: #BE123C;
}
.text-amber-500{
    color: #F59E0B;
}